<div class="row">
  <div class="col-xs-3">
    <h1 class="black-text">
  BAILY LAW
</h1>
  </div>
  <a href="#">
    <img class="larger-image img-thumbnail" alt="AARON BAILY. " src="https://static.wixstatic.com/media/3a0eb4_06ffd0293f984b7f95e176f93dec02f8.jpg/v1/fill/w_61,h_50,al_c,q_80,usm_0.66_1.00_0.01/3a0eb4_06ffd0293f984b7f95e176f93dec02f8.webp">
  </a>
  </img>
</div>
<div class=“ box”>
  <div class="row">
    <div class="col-xs-3">
      <nav>
        <ul>
          <li><a href="#home"><button class="btn-group-vertical btn btn-default btn-block btn-primary" id="Home">Home Page</button></a></li> 
          
          <li><a href="#contact"><button class="btn-group-vertical btn btn-default btn-block btn-primary" id="Contact">Contact</button></a></li>
          
          <li><a href="#law"><button class="btn-group-vertical btn btn-default btn-block btn-primary" id=“Law">What We Do</button></a></li>
            
          <li><a href="#about"><button class="btn-group-vertical btn btn-default btn-block btn-primary" id="About">About</button></a></li>
        </ul>
      </nav>
      </div>
    <img class="larger-image thick-black-border" alt="AARON BAILY. " src="https://static.wixstatic.com/media/3a0eb4_38b2a4a598834101868d3c750619abc4.jpg/v1/fill/w_120,h_140,al_c,q_80,usm_0.66_1.00_0.01/3a0eb4_38b2a4a598834101868d3c750619abc4.webp" </img>
  </div>
</div>
<div class="content-box">
  <div class="content">
            
    <div id="home">
 
<button class="btn btn-default btn-block btn-danger" id="camera">
<i class="fa fa-camera" aria-hidden="true"></i>
</button>
            
<button class="btn btn-default btn-block btn-info" id="indox">
<i class="fa fa-envelope-o" aria-hidden="true"></i>
</button>
            
<button class="btn btn-default btn-block btn-success" id=“pay"><i class="fa fa-money" aria-hidden="true"></i>
</button>
</div>            

    <div id="contact">
<a href="tel:1-914-315-6300"><button class="btn btn-default btn-block btn-success btn-group-vertical" id=“Call">
  <i class="fa fa-phone" aria-hidden="true"></i></button></a></li>

<a href="mailto:ab@agb.legal"><button class= "btn btn-default btn-block btn-group-vertical” id="email”> Email</button></a>

<a href=#><button class="btn btn-default btn-block btn-group-vertical” id="location”> Get Directions</button></a>
    </div>

    <div id="law">
      <h1>Practice Areas</h1>
      <ul>
        <li><a href=#>Administrative Law</a></li>
        <li><a href=#>Business Formation & Transactions</a></li>
        <li><a href=#>Commercial Litigation</a></li>
        <li><a href=#>Construction Law</a></li>
        <li><a href=#>Foreclosure Defense</a></li>
        <li><a href=#>Landlord & Tenant</a></li>
        <li><a href=#>Personal Injury</a></li>
        <li><a href=#>Real Estate Litigation</a></li>
      </ul>
    </div>

    <div id="about">
      <h1>EDUCATION</h1>
      <p>Touro College</p>
      <p>Jacob D. Fuchsberg Law Center J.D. 2003, suma cum laude</p>

      <p>Purchase College</p>
      <p>B.A. 1999, cum laude</p>

      <h2>ADMITTED TO PRACTICE</h2>
      <p>New York, 2004</p>
    </div>
  </div>
</div>

